<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/webservices/**" create-session="stateless">
		<intercept-url pattern="/**" access="ROLE_WEBSERVICE_USER" />
		<http-basic />
	</http>

	<http realm="Web Portal Realm">
		<intercept-url pattern="/resources/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/public/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/login" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/**" access="ROLE_USER" />
		<intercept-url pattern="/" access="ROLE_USER" />

		<form-login login-page="/login" authentication-failure-url="/login?login_error=1" />
		<logout logout-success-url="/index.jsp" />
		<remember-me />
		<headers />
		<csrf />
	</http>

	<b:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

	<!-- Automatically receives AuthenticationEvent messages -->
	<b:bean id="loggerListener"
		class="org.springframework.security.authentication.event.LoggerListener" />
	<b:bean id="securityContextAccessor"
		class="com.gravlle.portal.security.SecurityContextAccessorImpl" />
	<b:bean id="authenticationTrustResolver"
		class="org.springframework.security.authentication.AuthenticationTrustResolverImpl" />

	<b:bean id="daoAuthenticationProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<b:property name="userDetailsService" ref="userDetailsService" />
	</b:bean>

	<b:bean id="authenticationManager"
		class="org.springframework.security.authentication.ProviderManager">
		<b:property name="providers">
			<b:list>
				<b:ref local="daoAuthenticationProvider" />
			</b:list>
		</b:property>
	</b:bean>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder ref="passwordEncoder" />
		</authentication-provider>
	</authentication-manager>

	<b:bean id="userDetailsService" class="com.gravlle.portal.security.UserDetailsServiceImpl" />

</b:beans>
